* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #000000, rgb(110, 110, 110));
    color: #cac6c0;
    height: 90vh;
    width: 99%;
}

.table {
    margin: auto;
}

.btn {
    background: #c67b0b;
    color: black;
    font-weight: 600;
    border: 1px solid transparent;
}

.btn:hover {
    background-color: #ffca2c;
    color: black;
    border: 1px solid black;

}

.table .btn {
    background-color: transparent;
    color: whitesmoke;
    border: none;
}
.table .btn:hover{
    background-color: #ffca2c;
    color: black;
    border: none ;

}

input {
    background: whitesmoke;
    border: 3px solid #a16100;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
}

.table {
    border: none;
}

#completed-tasks label {
	text-decoration: line-through;
	color: #888;
}